* {
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

h3 {
    font-size: 1.rem;
    margin-top: 30px;
    margin-bottom:15px;
    color: lightslategray;
}

/* zadanie 1 */
.outer {
    background-color: coral;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: darkblue;
    height: 100px;
    width: 100px;
}

/* zadanie 2 */

.circle {
    background-color: darkturquoise;
    border: 1px solid darkturquoise; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.circle:hover {
    background-color: white;
    color: darkturquoise;
    border: 1px solid darkturquoise;
    transition: all 0.3s ease-in-out;
}

/* zadanie 3 */

.rainbow {
    width: 500px;
    height: 100px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

/* zadanie 4 */

video {
    width: 100%;
}

/* zadanie 5 */

ul#custom-list {
    list-style: none;
}

#custom-list li {
    padding-left: 1.3em;
}

#custom-list li:before {
    content: "\f2c6";
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    
}

/* zadanie 6 */

input {
    width: 50vw;
    height: 50px;
    padding: 1.5em;
}

input::placeholder {
    font-family: "Verdana", sans-serif;
    font-size: 1.5em;
}

/* zadanie 7 */

a {
    text-decoration: none;
}

a[download] {
    color:cadetblue;
}